[submodule "Boost-for-Android"]
	path = Boost-for-Android
	url = https://github.com/pelya/Boost-for-Android.git
[submodule "bzip2_sources"]
	path = bzip2_sources
	url = https://github.com/sergiud/bzip2.git
[submodule "libiconv-libicu-android"]
	path = libiconv-libicu-android
	url = https://github.com/Farmer-Markus/libiconv-libicu-android.git
[submodule "lua_sources"]
	path = lua_sources
	url = https://github.com/Farmer-Markus/lua-android.git
[submodule "miniupnpc_sources"]
	path = miniupnpc_sources
	url = https://github.com/transmission/miniupnpc.git
[submodule "s25client"]
	path = s25client
	url = https://github.com/Return-To-The-Roots/s25client
[submodule "gl4es"]
	path = gl4es
	url = https://github.com/ptitSeb/gl4es
[submodule "SDL_sources"]
	path = SDL_sources
	url = https://github.com/libsdl-org/SDL
	branch = SDL2
[submodule "SDL_mixer_sources"]
	path = SDL_mixer_sources
	url = https://github.com/libsdl-org/SDL_mixer
	branch = SDL2
